.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a {
    color: var(--sl-color-white);
    text-decoration: none;
    position: relative;

    &:hover {
        &:before,
        &:after {
            opacity: 1;
        }
    }

    &:before {
        content: "#";
        opacity: 0;
        position: absolute;
        left: -2rem;
        padding-right: 2rem;
    }

    @media screen and (max-width: 1475px) {
        &:before {
            display: none;
        }

        &:after {
            content: "#";
            opacity: 0;
            position: absolute;
            padding-left: 2rem;
            right: -2rem;
        }
    }
}