---
import type { Props } from '@astrojs/starlight/props';

const links = [
    {
        link: 'https://app.testomat.io/docs/api',
        data: 'Public API'
    },
    {
        link: 'https://changelog.testomat.io',
        data: 'Changelog'
    },
    {
        link: 'https://testomat.io/blog/',
        data: 'Blog'
    },    
    {
        link: 'https://calendly.com/testomatio/demo',
        data: 'Schedule a Demo'
    },
    {
        link: 'https://app.testomat.io',
        data: 'Sign In'
    },    
]

---

{
    links.map((data) =>
        <div class="sl-flex header-links">
            <a href={data.link} aria-label={data.data} target="_blank">{data.data}</a>
        </div>
    )
}

<style>
    .header-links a {
        color: #23262f;
        font-size: 0.875rem;
        text-decoration: none;
    }

    .header-links a:hover {
        margin-bottom: -2px;
        border-bottom: 2px solid rgb(92, 137, 252);
    }

    html[data-theme=dark] .header-links a {
        color: #edeef3;
    }
</style>