---
import "meilisearch-docsearch/css";
const apiKey = import.meta.env.PUBLIC_MEILISEARCH_KEY
---

<div id="docsearch"></div>

<script
        is:inline
        src="https://unpkg.com/meilisearch-docsearch@latest/dist/index.global.js"
></script>

<script is:inline>
    const { docsearch } = window.__docsearch_meilisearch__;
    docsearch({
        container: "#docsearch",
        host: 'https://docsearch.testomat.io',
        apiKey: {apiKey},
        indexUid: "docs",
    });
</script>

<style is:global>
    .search-pro-result-title {
    font-size: 1.25rem !important;
    font-weight: 600;
    }
</style>