---
import "meilisearch-docsearch/css";
---

<div id="docsearch"></div>

<script
        is:inline
        src="https://unpkg.com/meilisearch-docsearch@latest/dist/index.global.js"
></script>

<script>
    const { docsearch } = window.__docsearch_meilisearch__;
    docsearch({
        container: "#docsearch",
        host: 'https://docsearch.testomatio.work',
        apiKey: '09da1c7afa39fcf0c2ec4bcdb78d94651e7d6c47d3e7c34a01096064808b8d8d',
        indexUid: "docs",
    });
</script>

<style is:global>
    .search-pro-result-title {
    font-size: 1.25rem !important;
    font-weight: 600;
    }
</style>