---
// Include only the reset.css
import 'instantsearch.css/themes/reset.css'
// or include the full Satellite theme
import 'instantsearch.css/themes/satellite-min.css'
---

<div class="wrapper">
    <div id="searchbox"></div>
    <div id="hits"></div>
</div>

<script
        is:inline
        src="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js"
></script>
<script
        is:inline
        src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"
></script>
<script is:inline>
    const search = instantsearch({
        indexName: 'docs',
        searchClient: instantMeiliSearch(
           'http://174.138.8.90',
            'd34b927796984d210b216d1670f7e29461c8e5c0d4a0c74a08064238b342e5bd'
        ).searchClient,
    })
    search.addWidgets([
        instantsearch.widgets.searchBox({
            container: '#searchbox',
        }),
        instantsearch.widgets.configure({ hitsPerPage: 1 }),
        instantsearch.widgets.hits({
            container: '#hits',
            templates: {
                item: `
            <a href='{{ "attribute": "baseUrl" }}{{#helpers.snippet}}{ "attribute": "url" }{{/helpers.snippet}}/'>
              <h2 class="hit-name">
                    {{#helpers.highlight}}{ "attribute": "title" }{{/helpers.highlight}}
              </h2>
              <p>{{#helpers.snippet}}{ "attribute": "content" }{{/helpers.snippet}}...</p>
            </a>
          `,
            },
        }),
    ])
    search.start()
</script>

<style is:global>
    .ais-Hits-item {
        margin-bottom: 1em;
    }

</style>
